Homework_1/bin
Homework_2/bin
Homework_3/bin

Homework_1/.classpath
Homework_1/.project
Homework_1/.settings/org.eclipse.jdt.core.prefs

Homework_2/.classpath
Homework_2/.project
Homework_2/.settings/org.eclipse.jdt.core.prefs

Homework_3/.classpath
Homework_3/.project
Homework_3/.settings/org.eclipse.jdt.core.prefs